body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 480px;
}

.square {
    border: 0.5px gray solid;
    box-sizing: border-box;
}

.square:hover {
    background-color: lightgray;
}