body {
    display: flex;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 480px;
}

.square {
    border: 0.5px gray solid;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    flex: auto;
}

.square:hover {
    background-color: lightgray;
}